
# Ficheros de emacs

# Ignora los ficheros de backup de emacs
*~
\#*
\#*\#

# Ignora los directorios de salida de las diferentes versiones de la librería
build/

# Ignora los pycache que solo le pertenecen a la máquina local.
__pycache__/